# ========== API密钥配置 ==========
HF_TOKEN=

# ========== API提供商配置 ==========
# 翻译服务提供商选择: ollama/vllm/deepseek
TRANSLATION_PROVIDER=ollama

# ========== Ollama API 配置 ==========
# 当 TRANSLATION_PROVIDER=ollama 时使用
# OLLAMA_SERVER_URL=http://localhost:11434
# OLLAMA_MODEL=qwen3:8b

OLLAMA_SERVER_URL=http://127.0.0.1:61434
# OLLAMA_MODEL=qwen3:32b
OLLAMA_MODEL=nemotron-3-nano:latest

# ========== DeepSeek API 配置 ==========
# 当 TRANSLATION_PROVIDER=ollama 时使用
DEEPSEEK_API_URL=https://api.deepseek.com
DEEPSEEK_API_KEY=sk-
DEEPSEEK_MODEL=deepseek-chat


VLLM_API_URL=http://127.0.0.1:61435
# VLLM_API_KEY=
VLLM_MODEL=Qwen/Qwen3-32B

# ========== 服务器配置 ==========
API_HOST=0.0.0.0
API_PORT=9000
API_WORKERS=1

# ========== 翻译服务配置 ==========
STT_SERVER_URL=http://localhost:8001
# TTS_SERVER_URL=http://localhost:8002
TTS_SERVER_URL=http://127.0.0.1:6802

# ========== 翻译模式配置 ==========
# 翻译模式: batch (批量翻译) 或 whole (整体翻译)
TRANSLATION_MODE=batch

# ========== 文件路径配置 ==========
TEMP_DIR=temp
OUTPUT_DIR=output

# ========== 日志配置 ==========
LOG_LEVEL=INFO
